::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #526e74, #000000);
    border-radius: 8px;
}

.xscroll::-webkit-scrollbar {
    /* background: linear-gradient(transparent, #da5151, #19289b); */

    height: 5px;
}

/* .xscroll::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #19289b);
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Roboto", sans-serif;
}

